body{
    background-color: rgba(99, 91, 91, 0.3);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.image-1{
    display: flex;
    flex-direction: row;
}

.image-1 img{
    width:40px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.header a{
    margin: 25px;
    text-decoration: none;
    color:orangered;
    font-family: Comic Sans MS;

}

.nav{
 margin-top: 50px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 
}


.text h1{
    margin-left: 0;
    font-size: 45px;
    font-family: Comic Sans MS;

}

.text p{
    font-family: Comic Sans MS;
    font-size: 15px;
}

.nav-image img{
    width:468px;
    height:80px;
    margin-right: 20px;
}


.access{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:50px;
    margin-left:20px;
    margin-right:20px;
    bottom: 0;
    background-color: black;
    align-items: center;
}


.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row a{
    margin-top: 25px;
    margin: 15px;
    text-decoration: none;
    color:orangered;
    font-family: Comic Sans MS;

}
.home {
    background-color: orangered !important;
    color:white !important;
    
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.search{
    padding-top: 20px;
}

.search input{
    align-items: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    color: rgb(172, 36, 36);
    font-family: Comic Sans MS;
    font-weight: 500;
    width:150px;
    height:35px;
    
}

.input-1{
    background-color: orangered;
    color:white;
    margin-left: 10px;
    margin-right: 15px;
}


.images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;

}

.card-image{
    background-color:black;
    margin:20px;
    width: 350px;
    height: 500px;
    text-align: center;
   
}
.image-card>img{
margin: 40px ;
width: 250px;
height: 300px;
margin-left:15px;
cursor: pointer;
padding-left: 25px;



}


.image-card>img:hover{
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}




.card-image p{
  text-align: center;
  color: rgb(208, 255, 0);
  font-family: Comic Sans MS
}

.card-image span{
  text-align: left;
  color:rgb(208, 255, 0);
  font-family: Comic Sans MS;
}

    
.footer{
    background-color: black;
    box-sizing: border-box;
    padding: 70px 0;
    width: 100%;
}



.container{
    max-width: 1170px;
    background-color:black; 
    margin: auto;
    width: 100%;
    height: auto;
}

.row-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 110px;

    
}

ul{
    list-style: none;
}

.footer-column{
    width:25%;
    padding: 0 15px;
    
}

.footer-column h3{
    font-size: 24px;
    color: orangered;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
    border-bottom: 1px solid;
    
}


.footer-column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: orangered;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-top: 15px;
    margin-left: 35px;
    
}

.mail{
    font-size: 16px;
    color: rgb(255, 78, 34);
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
    
}

.footer-column input{
    width: 250px;
    height: 25px;
    background-color: rgb(228, 221, 218);
    opacity: 0.8;
    
}

.footer-column button{
    width: 30px;
    height: 25px;
   background-color: rgb(228, 221, 218);
   opacity: 0.8;
}

.footer-column .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: rgba(252, 79, 17, 0.932);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    
}

.footer-column .social-links i{
    color: black;
}

.footer-column .social-links p{
    margin-left: 50px;
    margin-top: 20px;
    
}

.footer-column .social-links span{
    margin-left: 47px;
}

.footer-column .services h3{
    margin-left: 35px;
}


.footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    padding-top: 25px;
    align-items: center;
}

.footer-rights p{
    font-weight: bold;
}

.footer-date{
    font-weight: bold;
}